@mixin tag {
    color: white;
    font-size: 12px;
    border-radius: 20px;
    background-color: #7206F7;
    border: none;
    width: 60px;
    cursor: pointer;
    height: 20px;;
}

.content {
    img {
        object-fit: cover;
    }
}

.event-info {
    margin-left: 20px;
}

.event-title {
    font-size: 30px;
}

.fav {
    display: flex;
    float: right;
    margin-top: -1.8rem;
}

.fav-icon {
    background-color: rgb(0, 0, 0);
    border: none;
    margin-left: 2rem;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}


.fa-link {
    color: rgb(155, 155, 155);
    font-size: 28px;
    will-change: color;
    transition: color 1s;
    &:hover {
        color: white !important;
    }
}

.fa-heart {
    color: #F70661;
    font-size: 28px;
}

.about {
    margin-top: 1rem;
    margin-left: 20px;
    display: flex;
    
}

.detail {
    p {
        border-top: solid  white 1px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.pic-map {
    margin-left: 20px;
}

.map {
    margin-right: 40px;
    a{
        text-decoration: none;
        color: white;
    }
}
.small{
    font-size: 0.8em;
}

.genre {
    color: white;
    margin-bottom: 2px;
    width: 10%;
    p{
        margin-top: 7px;
        color: white;
        background-color: #7206F7;
        border-radius: 6px;
        text-align: center;
        
    }
}

.tag-group {
    margin-top: 1rem;
    color: white;
    margin-bottom: 2px;
}

.w3-tag {
    font-size: 14px;
    margin-top: 5px;
    margin-left: 0.5rem;
    padding: 3px;
    color: white;
    background-color: rgb(98, 98, 99);
    border-radius: 6px;
    text-align: center;
}

.date {
    margin-right: 40px;
}



