#header-container {
  position: fixed;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.content {
  width: 47rem;
  color: white;
  overflow: hidden;
  margin: 0 auto;
}

.content img {
  margin-top: 5rem;
}

.detail {
  width: 47rem;
}

.detail p {
  color: #8d8b8b;
  margin: 30px 0 30px 20px;
  font-size: 17px;
}

.comments {
  width: 47rem;
  margin-left: 20px;
  border-top: solid  gray 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-comments {
  margin-top: -10rem;
}

.user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  margin-left: 20px;
}

.footer {
  margin-top: 10rem;
  height: 40vh;
  background-color: #2D2524;
}

#header {
  height: 50px;
  background: #2D2524;
  padding: 0 20px;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: block;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
}

.logo {
  font-size: 1.2em;
  line-height: 50px;
  float: left;
  text-transform: uppercase;
  color: #fff;
}

.login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.login a {
  border: none;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
}

.header2 {
  display: none;
}

.search {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem;
}

.test {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.test i {
  font-size: 1.6em;
}

.menu-sp {
  display: none;
}

.search-btn-sp {
  display: none;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-btn-sp i {
  font-size: 1.6em;
}

.search_text {
  height: 30px;
  background: none;
  color: #fff;
  padding-left: 5px;
  border: solid 2px #FFF;
  font-size: 14px;
  line-height: 30px;
  width: 50%;
  font-weight: 400;
  -webkit-transition: .1s;
  transition: .1s;
  margin-right: 10px;
}

.search_text:focus {
  outline: none;
}

.Genre {
  color: #fff;
  background: none;
  padding-left: 5px;
  border: solid 2px #fff;
  font-size: 14px;
  line-height: 30px;
  width: 20%;
  height: 34px;
  font-weight: 400;
  text-transform: uppercase;
  margin-right: 10px;
}

.Genre:focus {
  outline: none;
}

.search_date {
  background: none;
  margin-right: 15px;
  padding-left: 15px;
  color: #fff;
  border: solid 2px #fff;
  font-size: 15px;
  width: 30%;
  font-weight: 400;
  height: 30px;
}

.search_date:focus {
  outline: none;
}

.seach-erea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.search_icon {
  color: #fff;
}

.menu {
  float: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 30px;
}

.menu-list {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show-menu-btn, .hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: left;
}

.show-menu-btn i {
  line-height: 50px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: grey;
}

.paragrah {
  height: 50%;
  width: 30%;
  color: white;
  margin-left: 5em;
  margin-top: 7em;
  margin-bottom: 20em;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: justify;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*.content {
    padding: o 20px;

    img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
    }
}*/
@media screen and (max-width: 800px) {
  #header {
    display: none;
  }
  .header2 {
    display: block;
    width: 100%;
    max-width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: fixed;
    height: 50px;
    background: #2D2524;
    overflow: hidden;
    z-index: 100;
  }
  .main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
  }
  .mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .mainInner div {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
  }
  #sidebarSearch {
    position: relative;
    height: 100%;
    left: 0;
    width: 100%;
    margin-top: 50px;
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: #000000;
    color: #fff;
    position: fixed;
    text-align: center;
  }
  .sidebarIconSearch i {
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 25px;
    z-index: 99;
    font-size: 20px;
  }
  input[type="checkbox"]:checked ~ #sidebarSearch {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ #sidebarSearch ~ .sidebarIconToggle {
    display: none;
  }
  .openSidebarSearch {
    float: right;
  }
  #sidebarSearch {
    position: relative;
    height: 100%;
    left: 0;
    width: 100%;
    margin-top: 50px;
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: #000000;
    color: #fff;
    position: fixed;
    text-align: center;
  }
  .sidebarIconSearch i {
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 25px;
    z-index: 99;
    font-size: 20px;
  }
  input[type="checkbox"]:checked ~ #sidebarSearch {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ #sidebarSearch ~ .sidebarIconToggle {
    display: none;
  }
  .openSidebarSearch {
    float: right;
  }
  .search-title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px;
  }
  .search_text {
    outline: none;
    height: 30px;
    width: 60%;
    border: solid 3px #fff;
    background: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
  }
  .tag-list {
    color: #000000;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 10px;
  }
  .tag-list li {
    background: #fff;
    border-radius: 30px;
    margin: 4px;
    height: 24px;
    width: 80px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
  }
  .Category dt {
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Category dt img {
    width: 50px;
    height: 50px;
  }
  .Category dd {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
  }
  .Category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .Day-box {
    outline: none;
    height: 30px;
    width: 200px;
    border: solid 3px #fff;
    background: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
  }
  #sidebarMenu {
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    margin-top: 50px;
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: #000000;
  }
  .sidebarMenuInner {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    margin: 0;
    padding: 0;
  }
  .sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
  }
  .sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ #sidebarMenu ~ .sidebarIconSearch {
    display: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu ~ #sidebarSearch {
    display: none;
  }
  input[type=checkbox] {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 18px;
    left: 20px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: -9px;
  }
}

.content img {
  -o-object-fit: cover;
     object-fit: cover;
}

.event-info {
  margin-left: 20px;
}

.event-title {
  font-size: 30px;
}

.fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-top: -1.8rem;
}

.fav-icon {
  background-color: black;
  border: none;
  margin-left: 2rem;
  cursor: pointer;
}

.fav-icon:focus {
  outline: none;
}

.fa-link {
  color: #9b9b9b;
  font-size: 28px;
  will-change: color;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.fa-link:hover {
  color: white !important;
}

.fa-heart {
  color: #F70661;
  font-size: 28px;
}

.about {
  margin-top: 1rem;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.detail p {
  border-top: solid  white 1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pic-map {
  margin-left: 20px;
}

.map {
  margin-right: 40px;
}

.map a {
  text-decoration: none;
  color: white;
}

.small {
  font-size: 0.8em;
}

.genre {
  color: white;
  margin-bottom: 2px;
  width: 10%;
}

.genre p {
  margin-top: 7px;
  color: white;
  background-color: #7206F7;
  border-radius: 6px;
  text-align: center;
}

.tag-group {
  margin-top: 1rem;
  color: white;
  margin-bottom: 2px;
}

.w3-tag {
  font-size: 14px;
  margin-top: 5px;
  margin-left: 0.5rem;
  padding: 3px;
  color: white;
  background-color: #626263;
  border-radius: 6px;
  text-align: center;
}

.date {
  margin-right: 40px;
}

.organizer-name {
  margin-top: 60px;
  margin-left: 30px;
}

.organizer-name p {
  margin-top: 20px;
  font-size: 15px;
}

.comment-posts {
  margin-left: 5em;
}

.user-post {
  margin-top: 2rem;
}

.user-post img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-post input {
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  width: 30rem;
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
  background-color: black;
  border-bottom: 1px solid white;
}

.user-post input:focus {
  outline: none;
}

.user-post2 img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 17rem;
}

.user-post2 input {
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  width: 24rem;
  height: 30px;
  margin-top: 3rem;
  float: right;
  background-color: black;
  border-bottom: 1px solid white;
}

.user-post2 input:focus {
  outline: none;
}

.user-comment-area {
  margin-bottom: 3rem;
}

.user-comment-area2 {
  margin-bottom: 3rem;
}

.comments-buttons {
  margin-top: 1rem;
  float: right;
}

.comments-buttons2 {
  margin-top: -2rem;
  float: right;
}

.cancel-button {
  background-color: #313131;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  width: 70px;
  cursor: pointer;
  height: 25px;
}

.cancel-button:focus {
  outline: none;
}

.cancel-button2 {
  background-color: #313131;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  width: 70px;
  cursor: pointer;
  height: 25px;
}

.cancel-button2:focus {
  outline: none;
}

.comment-button {
  background-color: white;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  width: 70px;
  cursor: pointer;
  height: 25px;
}

.comment-button:focus {
  outline: none;
}

.comment-button2 {
  background-color: white;
  font-size: 12px;
  border-radius: 10px;
  border: none;
  width: 70px;
  cursor: pointer;
  height: 25px;
}

.comment-button2:focus {
  outline: none;
}

.user-comment {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-name {
  margin-left: 30px;
  font-size: 15px;
  margin-top: 2rem;
}

.user-name p {
  margin-top: 10px;
  border-bottom: solid  white 1px;
  font-size: 15px;
}

.comment-name {
  font-size: 20px;
}

.reply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4rem;
  float: right;
}

.reply-button {
  color: black;
  height: 25px;
  width: 25px;
  font-size: 12px;
  border-radius: 10px;
  border: none;
}

.reply-button i {
  color: black;
}

.color {
  color: white;
}

.user-reply-area {
  margin-bottom: 5rem;
}

.reply-user-name {
  font-size: 15px;
  margin-bottom: 3rem;
}

.reply-comment img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 8rem;
}

.reply-comment input {
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  border: none;
  width: 22rem;
  height: 30px;
  background-color: black;
  border-bottom: 1px solid white;
}

.reply-comment input:focus {
  outline: none;
}

.seemorecomments a {
  color: #b8b6b6;
  margin-top: 3rem;
  margin-left: 7rem;
  text-decoration: none;
}

.load {
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  width: 150px;
  cursor: pointer;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  /* display: flex; */
  margin: auto;
}

.load-reply {
  color: grey;
  background-color: black;
  font-size: 15px;
  padding: 3px;
  border-radius: 10px;
  border: none;
  width: 100px;
  cursor: pointer;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  margin: 0 auto;
  /* display: flex; */
}

.image img {
  border: 1px solid white;
}

.event-name {
  font-size: 20px;
  color: white;
}

.heart {
  margin-top: -20px;
  margin-left: 17rem;
}

.event-date {
  font-size: 20px;
  color: #FD8700;
}

.card-info {
  color: white;
  font-size: 18px;
}

.save-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-left: 120px;
}

.seemore-btn {
  margin-top: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seemore-btn a {
  color: white;
  border-radius: 30px;
  font-size: 24px;
  padding: 4px 20px 4px 20px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  background: #7206F7;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide {
  margin: 0 20px;
}

@media screen and (max-width: 767px) {
  .swiper-slide {
    width: 240px;
  }
  .image img {
    width: 240px;
    height: 158px;
  }
  .heart {
    margin-left: 0;
    float: right;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'Nuito';
}

a {
  text-decoration: none;
  color: white;
  border-bottom: 0.5px grey solid;
}
/*# sourceMappingURL=main.css.map */