#header-container {
  position: fixed;
  width: 100%;
  font-family: 'Lato', sans-serif;
  z-index: 1000;
}

#header {
  height: 50px;
  background: #2D2524;
  padding: 0 20px;
  color: white;
  position: fixed;
  width: 100%;
  display: block;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
}

.logo {
  line-height: 50px;
  float: left;
  text-transform: uppercase;
  color: #fff;
}

.header2 {
  display: none;
}

.menu {
  float: right;
  line-height: 50px;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.menu-list {
  margin-right: 30px;
}

.background-img {
  background: url("../LPImages/karina-lago-wEucG_sLRsY-unsplash.jpg");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: relative;
  height: 70vh;
}

.main_search {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  text-align: center;
}

.search_text {
  background: #232323;
  opacity: 0.9;
  padding-left: 10px;
  border: solid 3px #fff;
  font-size: 16px;
  line-height: 30px;
  width: 35%;
  height: 3rem;
  font-weight: 400;
  color: #fff;
}

.search_text:focus {
  outline: none;
}

.Genre {
  color: #fff;
  background: #232323;
  opacity: 0.9;
  border: solid 3px #fff;
  padding-left: 5px;
  font-size: 16px;
  line-height: 30px;
  width: 20%;
  height: 3.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.Genre:focus {
  outline: none;
}

.search_date {
  background: #232323;
  opacity: 0.8;
  margin-right: 15px;
  padding-left: 15px;
  color: #fff;
  border: solid 3px #fff;
  font-size: 16px;
  width: 20%;
  font-weight: 400;
  height: 3rem;
}

.search_date:focus {
  outline: none;
}

.search_icon {
  color: #fff;
}

.show-menu-btn, .hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.show-menu-btn {
  float: right;
}

.show-menu-btn i {
  line-height: 50px;
}

.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
  color: grey;
}

.paragrah {
  height: 50%;
  width: 30%;
  color: white;
  margin-left: 5em;
  margin-top: 7em;
  margin-bottom: 20em;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: justify;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*.content {
    padding: o 20px;

    img {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
    }
}*/
.test {
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.test i {
  font-size: 1.6em;
}

@media screen and (max-width: 800px) {
  .header {
    display: none;
  }
  .search {
    display: none;
  }
  .header2 {
    display: block;
    width: 100%;
    max-width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: fixed;
    height: 50px;
    background: #2D2524;
    overflow: hidden;
    z-index: 10;
  }
  .background-img {
    width: 100%;
  }
  .main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
  }
  .mainInner {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .mainInner div {
    display: table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
  }
  #sidebarSearch {
    position: relative;
    height: 100%;
    left: 0;
    width: 100%;
    margin-top: 50px;
    -webkit-transform: translateX(1500px);
            transform: translateX(1500px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: #000000;
    color: #fff;
    position: fixed;
    text-align: center;
  }
  .sidebarIconSearch i {
    color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 25px;
    z-index: 99;
    font-size: 20px;
  }
  input[type="checkbox"]:checked ~ #sidebarSearch {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ #sidebarSearch ~ .sidebarIconToggle {
    display: none;
  }
  .openSidebarSearch {
    float: right;
  }
  .search-title {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px;
  }
  .search_text {
    outline: none;
    height: 30px;
    width: 60%;
    border: solid 3px #fff;
    background: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
  }
  .tag-list {
    color: #000000;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 10px;
  }
  .tag-list li {
    background: #fff;
    border-radius: 30px;
    margin: 4px;
    height: 24px;
    width: 80px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
  }
  .Category dt {
    background: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .Category dt img {
    width: 50px;
    height: 50px;
  }
  .Category dd {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
  }
  .Category-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .Day-box {
    outline: none;
    height: 30px;
    width: 200px;
    border: solid 3px #fff;
    background: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 20px;
    font-size: 16px;
  }
  #sidebarMenu {
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    margin-top: 50px;
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    background: #000000;
  }
  .sidebarMenuInner {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    margin: 0;
    padding: 0;
  }
  .sidebarMenuInner li {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 30px;
    cursor: pointer;
  }
  .sidebarMenuInner li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  input[type="checkbox"]:checked ~ #sidebarMenu ~ .sidebarIconSearch {
    display: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu ~ #sidebarSearch {
    display: none;
  }
  input[type=checkbox] {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 18px;
    left: 20px;
    height: 22px;
    width: 22px;
  }
  .spinner {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }
  .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  .diagonal.part-1 {
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
  }
  .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: -9px;
  }
}

.image img {
  border: 1px solid white;
}

.event-name {
  font-size: 20px;
  color: white;
}

.heart {
  margin-top: -20px;
  margin-left: 17rem;
}

.event-date {
  font-size: 20px;
  color: #FD8700;
}

.card-info {
  color: white;
  font-size: 18px;
}

.save-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-left: 120px;
}

.seemore-btn {
  margin-top: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seemore-btn a {
  color: white;
  border-radius: 30px;
  font-size: 24px;
  padding: 4px 20px 4px 20px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  background: #7206F7;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-slide {
  margin: 0 20px;
}

@media screen and (max-width: 800px) {
  .swiper-slide {
    width: 240px;
  }
  .image img {
    width: 240px;
    height: 158px;
  }
  .heart {
    margin-left: 0;
    float: right;
  }
}

.category-container {
  margin-top: 8rem;
}

.category-card {
  padding: 0 50px 80px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.category-card p {
  text-transform: uppercase;
  margin-top: 20px;
  color: #ffffff;
  font-size: 35px;
}

.category-image {
  overflow: hidden;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  border: solid #ffffff 1px;
}

.category-image img {
  width: 220px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.category-image img:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

@media screen and (max-width: 800px) {
  .category-card {
    display: block;
  }
  .category-card-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 70px;
    position: relative;
  }
  .category-card-content p {
    position: absolute;
    top: 43%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    font-size: 45px;
  }
  .category-image {
    margin: 0 auto;
    border: solid 1px #ffffff;
  }
  .category-image img {
    opacity: 0.7;
  }
}

.use_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.use_contents img {
  margin-right: 7rem;
  width: 20%;
}

.Description {
  text-align: center;
  width: 30%;
}

.Description p {
  text-align: center;
  font-size: 19px;
  margin-top: 0.5rem;
  color: #c7c7c7;
}

.register-btn {
  margin-top: 4rem;
}

.register-btn a {
  background-color: #F70661;
  text-decoration: none;
  color: white;
  margin-top: 10px;
  border-radius: 30px;
  font-size: 24px;
  padding: 4px 20px 4px 20px;
  border: 0;
  cursor: pointer;
}

.find_func {
  margin: 1rem;
}

.use_contents2 img {
  margin-left: 7rem;
  margin-right: 0;
}

.start {
  margin: 4rem 0 10rem;
  text-align: center;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}

@media screen and (max-width: 800px) {
  .use_contents {
    padding: 20px;
  }
  .use_contents img {
    margin-right: 1rem;
    width: 40%;
  }
  .use_contents2 {
    margin-left: 0;
  }
  .use_contents2 img {
    margin-right: 0;
    margin-left: 1rem;
  }
  .Description {
    width: 100%;
  }
  h4 {
    margin: 0;
  }
}

.login {
  background: url("../LPImages/danny-howe-bn-D2bCvpik-unsplash.jpg");
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: relative;
  height: 80vh;
}

.login-contents {
  background: rgba(0, 0, 0, 0.4);
  height: 80vh;
  width: 100%;
  text-align: center;
}

.login-base {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.login-base h2 {
  margin: 0;
}

.login-erea p {
  font-size: 18px;
  color: white;
}

.login-box {
  margin: 12px 0;
  padding: 0 20px;
  font-size: 12px;
  color: #fff;
  background: none;
  border-radius: 30px;
  height: 2.3em;
  width: 25em;
  outline: none;
  border: #fff solid 3px;
}

.login-link {
  margin-top: 2.5rem;
}

.login-link a {
  background-color: #0FCC41;
  color: white;
  margin-top: 10px;
  border-radius: 30px;
  font-size: 24px;
  padding: 4px 38px 4px 38px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}

.forgot {
  margin-top: 0.8rem;
}

.forgot a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  border-bottom: 0.5px solid white;
}

.sns-icon-erea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0 0.5rem;
}

.sns-icon {
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.sns-icon i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.footer {
  height: 50vh;
  width: 100%;
  background-color: #2D2524;
}

.footer {
  height: 50vh;
  width: 100%;
  background-color: #2D2524;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

body {
  background-color: black;
}

h2 {
  color: white;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 38px;
}

h3 {
  color: white;
  font-size: 33px;
}

h4 {
  color: white;
  font-size: 23px;
  margin-top: 2rem;
}

.face {
  background: #305097;
}

.twi {
  background: #00aced;
}

.goo {
  background: #db4a39;
}
/*# sourceMappingURL=main.css.map */